<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hn.edu.ujcv.pdm_2021_ii_p1_proyecto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM_2021_II_P1_PROYECTO">
        <activity android:name=".VisualizarPrestamoLibroActivity"></activity>
        <activity android:name=".PrestamoLibroActivity" />
        <activity android:name=".AlumnoActivity" />
        <activity android:name=".VisualizarAlumnoActivity" />
        <activity android:name=".VisualizarLibroActivity" />
        <activity android:name=".LibroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>